:root {
  /* Color */
  --white-header: #f9f9f9;
  --white-subscribe: #ffffff;
  --black-color: #000000;
  --blue-color: #065fd4;
  --red-color: #ff0000;
  --red-dark-color: #cc0000;
  --grey-dark-color: #252525;
  --grey-light-color: #909090;

  /* Size */
  --profile-size: 40px;
  --icon-size: 16px;
  --youtube-size: 24px;
  --preview-height: 94px;
  --preview-width: 168px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;

  /* Font Weight */
  --hashtag-weight: 550;
  --Profile-weight: 600;

  /* Margin */
  --margin-micro: 2px;
  --margin-small: 6px;
  --margin-normal: 10px;
  --margin-large: 25px;
  --margin-hastag: 5px;

  /* Padding */
  --padding-small: 3px;
  --padding-normal: 6px;
  --padding-large: 12px;
}

/* All */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Roboto;
}

/* Ul */
ul {
  list-style: none;
}

/* button */
button,
button:focus {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-large);
  background-color: var(--grey-dark-color);
  color: var(--white-header);
  position: sticky;
  top: 0;
}

header .logo {
  display: flex;
  align-items: center;
  font-size: var(--font-large);
}

header .logo i {
  color: var(--red-color);
  font-size: var(--youtube-size);
  margin-right: calc(var(--margin-micro) * 2);
}

header .icons .fa-search {
  margin-right: var(--padding-large);
}

/* Video Player */
.player {
  text-align: center;
  background-color: var(--black-color);
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  border: none;
  outline: none;
}

.player video p {
  color: white;
}

/* Video VideoInfo */
.videoInfo {
  padding: var(--padding-large);
  padding-top: var(--padding-normal);
  margin-bottom: var(--margin-large);
}

.videoInfo > .metadata {
  padding: var(--padding-large);
  margin-bottom: var(--margin-large);
}

.videoInfo .metadata .hashtags {
  display: flex;
  font-size: var(--font-medium);
  font-weight: var(--hashtag-weight);
  color: var(--blue-color);
}

.videoInfo .metadata .hashtags li {
  margin-right: var(--margin-hastag);
}

.videoInfo .metadata .title {
  display: flex;
}

.videoInfo .metadata .title span {
  font-size: var(--font-large);
  margin-right: var(--margin-normal);
}

.videoInfo .metadata .title .clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.videoInfo .metadata .title .moreBtn {
  height: 100%;
  transition: transform 150ms ease-in-out;
}

.videoInfo .metadata .title .moreBtn.clicked {
  transform: rotate(180deg);
}

.videoInfo .metadata .views {
  font-size: var(--font-small);
  color: var(--grey-light-color);
}

.videoInfo .actionBtns {
  display: flex;
  justify-content: space-around;
  padding: var(--padding-large);
  margin-bottom: var(--margin-large);
}

.videoInfo .actionBtns button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--grey-light-color);
}

.videoInfo .actionBtns button i {
  margin: 0 auto;
  margin-bottom: var(--margin-small);
  font-size: var(--icon-size);
}

.videoInfo .actionBtns button.active {
  color: var(--blue-color);
}

.videoInfo .actionBtns button.hover:hover {
  color: var(--blue-color);
}

/* Channel */
.channel {
  padding: var(--padding-normal) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: thin solid var(--grey-light-color);
  border-bottom: thin solid var(--grey-light-color);
  margin: var(--margin-large) 0;
}

.channel .metadata {
  padding: var(--padding-large);
  display: flex;
}

.channel .metadata img {
  width: var(--profile-size);
  height: var(--profile-size);
  margin: auto;
  margin-right: var(--margin-normal);
  border-radius: 50%;
}

.channel .metadata .channelInfo {
  display: flex;
  flex-direction: column;
  font-size: var(--font-medium);
  font-weight: var(--Profile-weight);
  margin: auto;
}

.channel .metadata .channelInfo .subscribers {
  font-size: var(--font-small);
  font-weight: 500;
  color: var(--grey-light-color);
}

.channel .subscribe {
  text-transform: uppercase;
  background-color: var(--red-dark-color);
  color: var(--white-subscribe);
  border-radius: 5%;
  width: 100px;
  height: 37px;
  font-weight: 600;
  margin-right: var(--margin-normal);
}

.channel .subscribe.subscribed {
  background-color: #eeeeee;
  color: #757575;
  width: 120px;
}

/*Channel Recommendation */
.recommendation {
  padding: var(--padding-large);
}

.recommendation > .title {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  display: inline-block;
  margin-bottom: var(--margin-micro);
}

.recommendation .item {
  display: flex;
  margin: var(--margin-small) 0;
}

.recommendation .item .preview-wrapper {
  flex: 1 1 37%;
  margin-right: var(--margin-normal);
}

.recommendation .item img {
  height: 100%;
  width: 100%;
}

.recommendation .item .info {
  flex: 1 1 61%;
  display: flex;
  flex-direction: column;
}

.recommendation .item .info .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: var(--margin-micro);
  font-size: var(--font-large);
}

.recommendation .item .info .metadata {
  display: flex;
  font-size: var(font-micro);
  color: var(--grey-light-color);
}

.recommendation .item .info .metadata * {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.recommendation .item .info .metadata .name {
  margin-right: var(--margin-small);
}

.recommendation .moreBtn {
  flex: 1 1 2%;
  height: 100%;
}

.infoAndRecommendation {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoAndRecommendation {
    flex-direction: row;
  }

  .infoAndRecommendation .videoInfo {
    flex: 1 1 62%;
  }

  .infoAndRecommendation .recommendation {
    flex: 1 1 38%;
    margin-right: var(--margin-small);
  }
}
